/* * {
    color: black;
    font-family: montserrat, sans-serif;
} */

.lower_box{
    background-color: #ffe48c;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mainheadrow{
    height: 35px;
    margin-top: 1%;
    margin-left: 12%;
    /* border: 5px solid red; */
    display: flex;
}

.ainheadrow  img {
    width: 50%;
    /* border: 5px solid red; */
}

.mainheadrow > :nth-child(2) {
    margin-left: 60%;
    margin-top: -2%;
    font-weight: 100px;
    /* border: 5px solid red; */
}


.middle_box {
    margin-top: 2.5%;
    margin-left: 12%;
    /* border: 5px solid red; */
}
/* .lower_box_left>div{
    background-color: aqua;
} */

.ay {
    margin-left: 40%;
    /* border: 5px solid red; */
}

.lower_box {
    margin-top: 2%;
    margin-left: 12%;
    display: flex;
    /* border: 1px solid rgb(167, 244, 241); */
    width: 47%;
    min-height: 550px;
    margin: auto;
    /* border: 5px solid red; */
}

.lower_box > div:nth-child(1) {
    width: 50%;
    background-color: #0ba0a0;
    color: rgb(14, 13, 13);
    font-size: larger;
    line-height: normal;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

.inactive {
    padding-top: 12px;
    padding-bottom: 13px;
    margin-left: 13px;
}

.lower_box > div:nth-child(1) > hr {
    border: 0.1px solid #e0e0e0 ; 
}

.active {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 13px;
    border-left: 6px solid #0ba0a0;
}

.lower_box_left>p {
margin-top: -9px;
font-weight: 100;
font-size: 10px;
margin-left: 13px;
color: rgb(250, 248, 248);
letter-spacing: .2px;
padding-top: 2px;
}

.lower_right_box {
    width: 78%;
    margin-left: 30px;
    /* border: 1px solid rgb(157, 161, 160); */
    padding: 20px;
    margin-top: 12%;
    border-radius: 5px;
   
}

.lower_right_box > div:nth-child(1) {
    margin-left: 10px;
}

.card_num {
    display: inline-block;
    position: relative;
    margin-top: 20px;
 }

.card_num > input {
    width: 335px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 0.8px;
    /* border: 0.1px solid rgb(161, 157, 157); */
}

.card_name > input {
    width: 335px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 0.8px;
    margin-top: 20px;
    /* border: 0.1px solid rgb(161, 157, 157); */
}

.card_expiry_cvv {
    display: inline-block;
    margin-right: 20px;
    /* border: 1px solid red; */
}

.card_expiry_cvv > input {
    width: 158px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-top: 20px;
   
    /* border: 0.1px solid rgb(161, 157, 157); */
}

.card_check_box {
    margin-top: 20px;
    visibility: hidden;
   
   /* visibility: hidden; */
    /* display: inline-block; */

}


.card_check_box > label {
    font-size: 10px;
   text-align: top;

}


.payment {
    margin-left: 10px;
    width: 330px;
    height: 50px;
    color: white;
    background-color: #0ba0a0;
    font-size: 20px;
    border: 0.1px solid rgb(212, 203, 203); 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}



