
container {
    width: 100%;


}

.row {
    display: flex;
   
    /* border: 4px solid rgb(255, 0, 128); */

}


.col {
    width: 100%;
    /* height: 75%; */
}
.col1 li{
        margin: 0 0 0 -35px;

}

.col1 a {
    color: white;
    text-decoration: none;
}

.row1 {
    display: flex;
    /* margin-right: 30px; */
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    justify-content: space-evenly;
    margin: auto;

}

.footer-img {
    margin: 20px 10px 0 -30px;
}

footer {
    /* padding:  0; */
    /* width: 80%; */
    background-color: #181818;
    margin: auto;
 
    /* border: 4px solid rgb(255, 0, 0); */
    /* background-color: aqua; */
}

footer h2 {
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
}

footer li {
    list-style: none;
    /* color: hsla(0, 0%, 100%, .9); */
    /* line-height: 18px; */


    cursor: pointer;

    padding: 0;
    /* margin: 0 0 0 -30px; */
     text-align: start;
}


.icon_twitter:before {
    content: "\E926";
}

.email {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fdd835;
    width: 55%;
    height: 34px;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    /* display: block; */
    text-align: center;
}

.subscribe {
    cursor: pointer;
    width: 35%;
    background: #fdd835;
    border: 1px solid #fdd835;
    height: 34px;
    color: #000;
    padding: 0;
    margin: 0;
    text-align: center;

}
.row2{
    /* border: 2px solid cyan; */
    display: flex;
    width: 100%;
    /* height: 100px; */
    /* margin: 0 0 0 100px; */
    
    justify-content: space-evenly;
}
.col2 li{
    list-style: none;
    color: hsla(0, 0%, 100%, .9);
    line-height: 18px;
    cursor: pointer;

    
}

.col2 a{
    text-decoration: none;

    color: hsla(0,0%,100%,.9);
    line-height: 18px;
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    outline: none;
}

.abc li{
    text-decoration: none;
    color: hsla(0,0%,100%,.9);
    display: inline-block;
    background: transparent;
    outline: none;

}
.abcd li{
    text-decoration: none;
    color: hsla(0,0%,100%,.9);
    display: inline-block;
    background: transparent;
    outline: none;
}
hr{
    width: 90%;
}
.hrbelow{
display: flex;
justify-content: space-evenly;

}
.empty{
    height: 10rem;
    width: 21%;
    background-color: #181818;
}
.empty1{
    height: 30px;
    width: 23%;
    background-color: #181818;
}

.hrbelow1 a{
    text-decoration: none;

    color: hsla(0,0%,100%,.9);
    line-height: 18px;
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    outline: none; 
    
}
.hrbelow2 a{
    text-decoration: none;

    color: hsla(0,0%,100%,.9);
    line-height: 18px;
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    outline: none; 
}
.hrbelow3 a{
    text-decoration: none;

    color: hsla(0,0%,100%,.9);
    line-height: 18px;
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    outline: none; 
}
.footer-p {
    color: hsla(0,0%,100%,.9                                                                                               );
    font-weight: bolder;
    font-size: larger;                             
}               
/* h3{
    color: rgb(81 204 204)
} */

.rightText li a{
    color: rgb(81 204 204);
    
}  