
.wishlisth2{
    margin: 50px 0 30px 80px;
    color: rgba(0,0,0,.8);
    font-family: montserrat-bold,sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
}
.wishnew{
  /* margin-top: 30px; */
  width:90%;
    margin: auto;

display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 60px;

}



.wishlistdiv1{
    /* border: 2px solid black; */
     
    
}

.wishlistImage{
    width: 100%;
height: 75%;
/* border: 2px solid green; */

}
.whislistTitle{
    margin: 0;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
    color: rgba(0,0,0,.8);
    height: 31px;
    padding-top: 5px;
    line-height: 13px;
    overflow: hidden;
}
.allPrice{
    display: flex;
}
.wishlistprice{
    font-weight: 700;
    font-size: 12px;
    
}
.wishlistcutoffPrice{
    
    opacity: .6;
    font-size: 12px;
    text-decoration: line-through;
    line-height: normal;
    

}
.wishlistdiscount{
    opacity: .7;
    font-size: 12px;
    color: #08ba0d;
}
.tribeMemberPrice{
    font-weight: 700;
    font-size: 12px;
   margin: 3px 5px 0 0;
   text-align: left;
    
}
.tribeMemberText{
    font-family: montserrat,sans-serif;
    color: rgba(0,0,0,.81);
    margin-top: 5px;
    
    font-size: 11px;
}
.tribe{
    display: flex ;
    background-color: hsla(0,0%,92.9%,.6);
}
.wishlistButton{
    margin-bottom: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0 12px;
    background-color: #fff;
    height: 35px;
    width: 100%;
}


.deleteImage{
    width: 20px;
    height: 20px;
    background: transparent;
}

.deleteImage:hover{
    background-color: gray;
    opacity: 0.7;
    width: 25px;
    height: 25px;
}

.delete_btn{
    
    border:none;
    margin-left: -30px;
    
height: 40px;
width: 40px;
border-radius: 50%;
background: transparent;
}
